.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #4793FF;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;

    &__input {
        border-radius: 10px;
        background: rgba(71, 147, 255, 0.20);
        padding: 9px 20px;
        font-weight: 500;
        
        &::placeholder {
            color: var(--color);
        }
    }
}